<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz2</title>
</head>
<body>
NAME: VENKATA PUSHYAHASS REDDY OBULAPU<br>
ID:1001408522<br>
UPLOAD FILE:
<form id="upload_form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" >
    <input type="file" name="file" accept="text/csv/image" multiple>
    <input type="submit" value="Upload File">
</form>
<br><br>
<form id="edata" action="{{ url_for('edata') }}" method="POST" enctype="multipart/form-data" >
 <input type="submit" name="edata" accept="text/csv/image" multiple>
</form>
<br><br>
</body>
</html>